.construction {
  color: firebrick;
  font-family: arial;
}

#title {
  text-transform: cursive;
  background-color: white;
  font-family: Arial;
  padding-top: 10;
  padding-bottom: 10;
}

body {
  background-image: url(https://raw.githubusercontent.com/Grammicode-Software/grammisoft.github.io/master/computer_code.jpg);
}  

.info {
  font-family: arial;
  background-color: white;
  padding-top: 10;
  padding-bottom: 10;
}
