* {
  box-sizing: border-box;
}

#image {
  height: 25px;
  width: 25px;
}
head {
  background-color: black;
  height: 50px;
}


.title {
  text-transform: cursive;
  background-color: cyan;
  font-family: Arial;
  padding: 20px;
  opacity: 0.75;
  width: 400px;
}

body {
  background-image: url(https://raw.githubusercontent.com/Grammicode-Software/grammisoft.github.io/master/computer_code.jpg);
}  

.info {
  font-family: arial;
  background-color: cyan;
  padding: 10px;
  opacity: 0.75;
  width: 400px;
}

.links {
  font-family: arial;
  padding 5px;
  width: 200px;
  color: black;
  background-color: cyan;
  opacity: 0.75;
}

a:hover {
  font-family: arial;
  padding 10px;
  width: 200px;
  background-color: black;
  color: white;
  opacity: 1;
}



